.black {
  color: black
}

li {
	overflow: hidden;
}

.lead {
	text-align: center;
	color: white;
}

.convertbar{
	text-align: center;
}

#child {
	font-size: 18px;
	font-weight: bold;
}

body { 
  background: url(http://res.cloudinary.com/masteryoperation/image/upload/v1449670553/personalSite/city.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label {
	color: white;
}

address {
	color: white;
	text-align: center;
}

input {
	margin-right: 5px;
	margin-left: 5px;
}

button {
	margin-left: 5px;
}
